#main-div {
    max-width: 25rem;
    margin: 100px auto;
}

.myclass {
    padding-bottom: 15px;
}

#signIn {
    font-family: 'Pacifico', cursive;
    font-size: 4.5rem;
    margin-bottom: 50px;
}

#links {
    margin: 10px 0px;
}

#logIn {
    padding-left: 0px;
}

#button {
    margin-top: 10px;
    width: 100%;
}

#loginSymbol {
    margin-left: 5px;
}
