<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href = "/stylesheets/main.css">
</head>
<body>
    <footer id ="footer">
        <i class="far fa-copyright" style = "font-size: 1.5em; margin-right: 10px;" ></i><span style ="font-size: 20px;">YelpCamp Trademark 2020</span>
    </footer>
</body>
<html>
