<!doctype html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<div class = "jumbotron" style = "width: 100%; padding-top: 20px; height: 150px;">
    <i class="far fa-copyright" style = "font-size: 1.5em; margin-right: 10px;" ></i><span style ="font-size: 20px;">YelpCamp Trademark 2020</span>
</body>
</html>    
</div>
